<h1>Products</h1>
<ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to image_tag(product.image_url), product.link %>
        <%= link_to product.title, product.link %>
      </li>
    <% end %>
</ul>